* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
}
.carouselItem .P1 {
  color: white;
  font-size: 33px;
  font-weight: bold;
}
.carouselItem .P2 {
  color: white;
  font-size: 20px;
}
.carouselItem a {
  background-color: yellow;
  color: black;
  display: block;
  width: 123px;
  height: 39px;
  text-align: center;
  padding-top: 7px;
}
.headerTop {
  display: flex;
  justify-content: space-between;
}
.headerTopRight {
  display: flex;
  align-items: center;
}

.headerTopRight span {
  margin-left: 10px;
  color: white;
}

.headerTopRight i {
  color: white;
}

.headerTopLeft {
  display: flex;
}

.headerTopLeft ul {
  display: flex;
  justify-content: start;
  margin: 0;
}

.headerTopLeft ul li {
  list-style: none;
  margin-right: 10px;
}
.headerTopLeft span {
  color: white;
}
.headerTopLeft i {
  color: white;
}
.Li ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}
.Li ul li a {
  color: white;
}
.Li ul li {
  margin-left: 19px;
}
.headerBottom {
  display: flex;
  align-items: center;
}
.Li ul li i {
  margin-left: 5px;
  font-size: 8px;
}
.Search {
  position: relative;
  margin-left: 39px;
}
.Search i {
  position: absolute;
  top: 1px;
  right: 1px;
  display: inline-block;
  background-color: yellow;
  width: 31px;
  height: 25px;
  text-align: center;
  padding-top: 6px;
}
.Search input {
  width: 145px;
}
.Cart {
  margin-left: 21px;
  color: white !important;
}
.fa-cart-shopping {
  color: white;
}
.slideSection {
  background-image: url(../image/wh-pattern.png);
  height: 644px;
}
.slideSection img {
  width: 136px;
}
/* .carousel-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

} */

.carouselItems {
  position: relative;
}

.carouselItem {
  width: 400px;
  padding-top: 128px;
}
.dishes img {
  height: 500px;
}
.dishes {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
}

.cardTitle {
  padding-bottom: 80px;
  padding-left: 50px;
}

.carouselCard {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  height: 100vh;
  position: relative;
}

.carouselCard .cardTitle {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
}

.cardTitle .title {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.carouselCard .cardImage {
  width: 500px;
  height: 450px;
}

.cardImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.specialImages {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: auto;
  position: absolute;
  bottom: -10px;
  right: 50px;
}

.cardTitle .button {
  outline: none;
  border: none;
  width: 150px;
  background: rgb(218, 184, 13);
  padding: 10px 15px;
}

.productsItems {
  width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding-top: 35px;
  /* position: absolute; */
  top: 80%;
  left: 15%;
}

.products .productItem .productImage {
  margin-bottom: 15px;
}

.products .productItem .productImage img {
  width: 320px;
}

.products .productDesc p {
  width: 350px;
}
.galeryCategories ul li a i {
  color: rgb(218, 184, 13);
  margin-right: 12px;
  font-size: 20px;
}

.galeryCategories ul li a {
  margin-right: 30px;
  font-size: 20px;
}
.gallery {
  background-color: black;
}

.galeryCategories {
  display: flex;
}

.galeryCategories ul {
  display: flex;
  margin: 0;
}

.galeryCategories ul li {
  list-style: none;
}

.galleryTop {
  display: flex;
  justify-content: space-between;
}
.galleryTitle .artG {
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  color: white;
}

.galeryCategories a {
  text-decoration: none;
  color: white;
}

.carouselCard .desc {
  width: 380px;
}

.galleryTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.galeryCategories ul {
  padding-top: 35px;
}

.galleryButton a {
  text-decoration: none;
  background-color: white;
  color: black;
  display: inline-block;
  width: 160px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  font-size: 14px;
  font-weight: 700;
}

.gallery {
  height: 400px;
}

.galeryCategories a:hover {
  color: rgb(238, 202, 19);
}

.galleryButton a i {
  margin-right: 7px;
  font-size: 14px;
}
.galleryBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}
.galleryBottom img {
  width: 280px;
}
.piquant {
  display: flex;
  align-items: center;
  height: 500px;
}

.piquant .piquantLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.piquantTittle {
  font-size: 32px;
  font-weight: 750;
}
.piquantText {
  font-size: 19px;
}
.piquantButton {
  background-color: rgb(238, 202, 19);
  color: black;
  display: inline-block;
  text-decoration: none !important;
  width: 152px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  font-weight: 700;
}

.piquantButton:hover {
  color: white;
  background-color: black;
}
.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 400px;
}
.cardItem img {
  width: 400px !important;
  height: 240px !important;
}
.cardItem a {
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.cardItem p {
  font-size: 18px;
}

.swiper-wrapper {
  display: flex;
  gap: 60px;
}

.swiperTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardItemsTitle {
  padding-top: 50px;
}

.cardItemsTitle p {
  color: white;
  font-size: 33px;
  font-weight: 700;
}

.cardItemsText p {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.swiper-slide {
  background-color: white;
  width: 400px;
  margin-right: 30px;
  padding-top: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.costs {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: center;
}

.modification{
  margin-bottom: 87px;
  padding-top: 50px;
}

.parallax {
  height: 500px;
  background-image: url(../image/new-parallax-1.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.itemTittle p {
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-weight: 700;
}
.itemText p{
  color: rgb(119, 117, 117);
  text-align:start;
  font-weight: 600;
  font-size: 20px;
}
.itemImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
.itemImage img{
  width: 430px;
}
.itemImage1{
  position: relative;
}
.itemImage1 p{
  position: absolute;
  position: absolute;
  bottom: 0;
  color: white;
  left: 17px;
  font-size: 25px;
  font-weight: 700
}
.taste{
  width: 255px;
}
.save{
  width: 268px;
}
.discover{
  width: 275px;
}
.itemImage1 span{
  color: yellow;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.parallax1{
  height: 500px;
  background-image: url(../image/new-parallax-2.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.itemTittless{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemTittle2{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.itemTittle2 img{
  text-align: center;
  width: 30px;
}
.itemTittle2 p{
  color: white;
  font-size: 33px;
  font-weight: 700;
}

.itemText2{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  height: 300px;
  display: flex;
  align-items: center;
}
.names p{
  color: white;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 600;
}
.delicious{
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.stars{
  color: yellow;
}
.newsTittle p{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
}
.newsText p{
  color: rgb(119, 117, 117);
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.aimages1{
  border: 2px solid gray;
}
.aimages1 img{
  height: 224px;
  margin-bottom: 10px;
}
.aimages1 a{
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: 700;
}
.aimages1 p{
  color: rgb(119, 117, 117);
  font-size: 20px;
  padding-left: 20px;
}

.aimages1 .desc{
padding-left: 20px;
}

.aimages1 .title{
  padding-left: 20px;
  font-size: 22px;
}

.newsCards{
  display: flex;
  gap: 25px;
}
